{% block title %}Article - {% endblock title %}

{% extends "layouts/blog.twig" %}

{% set list = articles.one(query.slug) %}
    
{% set article = list[0] %}
    
{% block blog_contents %}
{% if article|default(null) != null %}
<ol class="breadcrumb" style="margin-bottom:40px">
  <li><a href="{{ _helper.url('PageView', {page: 'blog'}, true)|raw }}">Blog</a></li>
  {% if article.category|default(null) != null %}
  <li class="active"><a href="{{ _helper.url('PageView', {page: 'blog', category: article.category}, true)|raw }}">{{ article.category }}</a></li>
  {% endif %}
  {% if article|default(null) != null %}
  <li class="active">{{ article.title }}</li>
  {% endif %}
</ol>

    {{ blog.display_article(article, _helper) }}
    <h3><a name="comments"></a>Comments</h3>
{% else %}
    <h3>Article not found :(</h3>
    <p>Sorry, we are unable to find the article you are looking for... <br /><br /><a href="{{ _helper.url('PageView', {page: 'blog'}, true)|raw }}" class="btn btn-large btn-default">Blog home &raquo;</a></p>
{% endif %}
{% endblock %}