{% block headertag %}
{% for asset in _helper.asset([
        '+bower/geopattern/js/geopattern.min.js',
    ], null, 'geopattern') %}
    <script type="text/javascript" src="{{ asset }}"></script>
{% endfor %}
{% for asset in _helper.asset([
'+bower/highlight/styles/github.css',
], null, 'highlight-github') %}
    <link rel="stylesheet" href="{{ asset }}">
{% endfor %}
{% for asset in _helper.asset([
'+bower/highlight/highlight.pack.js',
], null, 'highlight') %}
    <script type="text/javascript" src="{{ asset }}"></script>
{% endfor %}
<script type="text/javascript">
    hljs.initHighlightingOnLoad();
</script>
{% endblock %}

{% set categories = articles.data('categories.yml').categories %}

{% import "blog/macros.twig" as blog %}

{% extends "layouts/main.twig" %}

{% block contents %}
    <div class="section jumbotron" data-geopattern="Blog {{ blogCategory|default('') }} {% if article != null %}{{ article.meta('slug')|default('') }}{% endif %}">
      <div class="container">
          <h3 style="margin:0;padding:0"><i class="glyphicon glyphicon-pencil pull-right" id="blogpencil" style="font-size: 130px; margin-top: 30px; margin-left: 0%; opacity: 0.2; position: absolute;"></i> Blog</h3>
      </div>
  </div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8">
        {% block blog_contents %}{% endblock %}
    </div>
    <div class="col-lg-4 col-md-4" style="">
        <form class="form-horizontal" style="margin-bottom:40px;">
            <div class="form-group">
              <div class="col-lg-12">
                <input class="form-control" id="search" placeholder="Search the blog" type="text">
              </div>
            </div>
        </form>

        <h4>Categories</h4>
        <ul class="nav nav-pills nav-stacked">
            {% for slug, cat in categories %}
                <li{% if blogCategory|default('') == slug %} class="active"{% endif %}><a href="{{ _helper.url('PageView', {page: 'blog', category: slug}, true)|raw }}">{% if cat.icon != null %}<i class="pull-right {{ cat.icon }}"></i>{% endif %} {{ cat.name }}</a></li>
            {% endfor %}
        </ul>

        <ul class="nav nav-tabs" id="blogTabs" style="margin: 40px 0 10px 0">
          <li class="active">
            <a href="#recent">Recent Articles</a>
          </li>
            <li class="">
                <a href="#rss"><i class="glyphicon glyphicon-signal"></i></a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div id="recent" class="tab-pane active in">
                {% set list = articles.fetch({limit: 7}) %}
                <ul class="list-unstyled bigarticles small" style="margin-bottom: 40px;">
                    {% for article in list %}
                        <li>{{  blog.display_article_bigtitle(article, categories, 'h5', 35, _helper)|raw }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div id="rss" class="tab-pane">
                <p>Stay updated with the <a href="{{ _helper.url('PageView', {page: 'blog'}, true)|raw }}">Nitronet Blog</a> using your favourite RSS Reader!</p>
                <p style="text-align: center">
                    <a href="#" class="btn btn-warning">Subscribe {% if blogCategory|default(null) != null %}({{ blogCategory }}){% endif %} <i class="glyphicon glyphicon-signal"></i></a>
                </p>
            </div>
        </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(function() {
    $('#blogTabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });
    
    $('.jumbotron').geopattern($('.jumbotron').data('geopattern'));
    
    var pencilAnim = function() {
        $('#blogpencil').animate({'margin-left': $('.container').width()-$('#blogpencil').width()-40}, 2000);
    };
    
    $(window).resize(pencilAnim);
    pencilAnim();

    $('.sharelink').click(function(e) {
        e.preventDefault();
        window.open($(this).attr('href'),$('this').html(),"directories=0,toolbar=0,status=0,menubar=0,scrollbars=no,resizable=yes,width=500,height=300");
    });
});

</script>
{% endblock %}