<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width">
    {% for asset in _helper.asset([
        '+bower/bootstrap-theme-white-plum/css/bootstrap.min.css'
    ], 'cssrewrite', 'bootstrap') %}
    <link rel="stylesheet" href="{{ asset }}">
    {% endfor %}
    {% for asset in _helper.asset([
        '+bower/jquery/jquery.min.js',
        '+bower/bootstrap/js/bootstrap.min.js'
    ], null, 'jq-bootstrap') %}
    <script type="text/javascript" src="{{ asset }}"></script>
    {% endfor %}
    {% for asset in _helper.asset([
        '+bower/css/site.css'
    ], 'cssrewrite', 'site2') %}
    <link rel="stylesheet" href="{{ asset }}">
    {% endfor %}
{% block headertag %}{% endblock %}
  </head>
  
  <body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".header-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="{{ _helper.url('PageView') }}">Nitronet <i class="glyphicon glyphicon-fire"></i></a>
        </div>
        
        <div class="collapse navbar-collapse header-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="{{ _helper.url('PageView', {page: 'fwk'}) }}" class=" dropdown-toggle" data-toggle="dropdown">Fwk <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ _helper.url('PageView', {page: 'fwk'}) }}">Introduction</a></li>
                <li><a href="https://groups.google.com/forum/#!forum/phpfwk">Discuss <i class="glyphicon glyphicon-comment"></i></i></a></li>
                <li class="divider"></li>
                {% set packs = packages.packages() %}
{% for id, package in packs %}
                <li><a href="{{ _helper.url('PageView', {page: 'fwk/intro', package: id}) }}"><i class="{{ package.icon }}" title="{{ package.description }}"></i> {{ id }}</a></li>
{% endfor %}
            </ul>
            </li>
            <li class="dropdown">
              <a href="#" class=" dropdown-toggle" data-toggle="dropdown">OpenSource <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ _helper.url('PageView', {page: 'opensource/fwk'}) }}">Fwk</a></li>
                <li><a href="{{ _helper.url('PageView', {page: 'opensource/cmf'}) }}">CMF</a></li>
                <li><a href="{{ _helper.url('PageView', {page: 'opensource/various'}) }}">Various</a></li>
              </ul>
            </li>
            <li><a href="{{ _helper.url('PageView', {page: 'blog'}) }}">Blog</a></li>
            <li><a href="{{ _helper.url('PageView', {page: 'about'}) }}">About</a></li>
          </ul>
          <p class="navbar-text navbar-right"><a href="#">Login</a></p>
        </div>
      </div>
    </div><!-- /navbar -->
    
    {% block contents %}{% endblock %}
    
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <i class="glyphicon glyphicon-fire"></i>
                    <p class="copyright">Content is licensed under <a href="#">CreativeCommons v3</a> and the <a href="https://github.com/nitronet/website">source code</a> is licensed under <a href="#">GPL v3</a>.<br />Everything else is copyright &copy; 2014 <a href="http://neiluj.pro">Julien Ballestracci</a>.</p>
                </div>
            </div>
        </div>
    </div>
{% block footertag %}{% endblock %}
  </body>

</html>
