{% macro link(className, package, _helper) %}
{{ _helper.url("PageView", {page: "fwk/apidoc-class", package: package, className: className|trim('\\')|replace({'\\': '/'})}, true)|raw }}
{% endmacro %}

{% macro listClasses(classes, package, active, _helper) %}
<h3>Classes ({{ classes|length }}) </h3>
<ul class="nav nav-pills nav-stacked" style="font-size: 12px;max-height: 500px; overflow-y: auto;">
    {% for className, infos in classes %}
        <li{% if active == className|trim('\\')|replace({'\\': '/'}) %} class="active"{% endif %}><a href="{{ _self.link(className, package, _helper) }}">{{ className|trim('\\') }}</a></li>
    {% endfor %}
</ul>
{% endmacro %}

{% macro docblock(docblock, _helper) %}
    <p>{{ docblock.description|default('<i>no description</i>')|raw }}</p>
    
    {% if docblock.longDescription != '' and docblock.longDescription != docblock.description %}
     <p>{{ docblock.longDescription|default('<i>no description</i>')|raw }}</p>
    {% endif %}   
{% endmacro %}