{% block pkg_title %}API &raquo; {{ query.className|replace('/', '\\') }}{% endblock pkg_title %}

{% extends "layouts/fwk_package.twig" %}

{% import "fwk/apidoc-macros.twig" as doc %}

{% set fwk_pkg_menu_active = "api" %}
{% set classes = apidoc.classes(query.package, query.version) %}
{% set class = apidoc.doc(query.package, query.className, query.type, query.version) %}

{% block headertag %}
{% for asset in _helper.asset([
        '+bower/jquery-pjax/jquery-pjax.js',
    ], null, 'pjax') %}
    <script type="text/javascript" src="{{ asset }}"></script>
{% endfor %}
{% endblock %}
    
{% set interfaces = apidoc.interfaces(query.package, query.version) %}

{% block fwk_pkg_contents %}
<section id="pkg_contents">
<div class="row">
    <div class="col-md-4" data-pjax>
        <ul class="nav nav-tabs" id="docTabs" style="margin: 20px 0 0 0">
            <li{% if query.type == 'class' %} class="active"{% endif %}><a href="#classes" id="classTab">Classes ({{ classes|length }})</a></li>
            <li{% if query.type == 'interface' %} class="active"{% endif %}><a href="#interfaces" id="interfaceTab">Interfaces ({{ interfaces|length }})</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div id="classes" class="tab-pane{% if query.type == 'class' %} active in{% endif %}">
                {{ doc.listClasses(classes, "class", query.package, query.version, query.className, _helper) }}
            </div>
            <div id="interfaces" class="tab-pane{% if query.type == 'interface' %} active in{% endif %}">
                {{ doc.listClasses(interfaces, "interface", query.package, query.version, query.className, _helper) }}
            </div>
        </div>
    </div>
      <div class="col-md-8" id="pjax-container" data-pjax>
          {{ doc.classDoc(query.className, apidoc, query.type, query.package, query.version, _helper) }}
      </div>
    </div>
    <div class="row" style="clear:both;margin-top:30px;">
        <div class="col-md-12">
            <ol class="breadcrumb" id="apiNav">
                <li><a href="{{ _helper.url('PageView', {page: 'fwk/intro', package: query.package}, true)|raw }}">{{ query.package }}</a></li>
                <li><a href="{{ _helper.url('PageView', {page: 'fwk/apidoc', package: query.package}, true)|raw }}">API Doc</a></li>
                <li class="active">{{ query.className }}</li>
            </ol>
        </div>
    </div>
</section>
<script type="text/javascript">
$(function() {
    $('#docTabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });
    
    $(document).pjax('[data-pjax] a, a[data-pjax]', '#pjax-container', { fragment: '#pjax-container' });
    
     var updateMenuActive = function() {
        var myElt = $('#apiClass').text();
        $("ul.classes li.active").removeClass('active');
        var itms = $("ul.classes li a:contains("+ myElt +")").filter(function()
              {
                return $(this).text() === myElt;
              }
        );
        itms.parent().addClass('active');
        $('ol#apiNav li.active').html(myElt);
        $('#'+ $('#apiType').text().toLowerCase() + 'Tab').tab('show');
    };
    
    // Revert to a previously saved state
    window.addEventListener('popstate', function() {
       updateMenuActive();
    });
});
</script>
{% endblock %}